.text{
        margin-top: 5px;
        text-align: center;
        background-color: gray;
        padding: 15px;
        border-radius: 15px;
        font-weight: bold;
        color: greenyellow;
        
}